:root {
    --text-color: rgba(255, 255, 255, 0.87);
    --text-medium-color: rgba(255, 255, 255, 0.6);
    --background-color: #121212;
    --background-e1: rgba(255, 255, 255, 0.07);
    --color-p1: rgb(55, 151, 250);
    --color-p2:  rgb(207, 102, 102);
}

html, body, #app { height: 100%; margin: 0;; padding: 0;; }

body {
    background-color: var(--background-color);
    overscroll-behavior-y: contain;
    user-select: none;
}

.square-box {
    max-height: calc(100% - 5rem);
}

.square {
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 1;
}

.status-bar {
    color: var(--text-color);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    height: 5rem;
    justify-content: space-between;
    max-width: calc(100vh - 5rem);
    box-sizing: border-box;
}
.status-bar svg {
    width: 1rem;
    vertical-align: middle;
    background-color: var(--text-color);
    padding: 0.1rem;
}
.status-bar--status {
    display: flex;
    gap: 1rem;
}
.status-bar--actions {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.board {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    height: 100%;
    gap: 0.1rem;
    padding: 0.5rem;
}

.item button {
    border: none;
    width: 100%;
    height: 100%;
    background-color: var(--text-color);
}

.player-p1 {
    stroke: var(--color-p1);
}
.player-p2 {
    stroke: var(--color-p2);
    fill: none;
}

.cell-btn.player-p1 {
    color: var(--color-p1);
}
.cell-btn.player-p1.dead {
    background-color: var(--color-p2);
}
.cell-btn.player-p2 {
    color: var(--color-p2);
}
.cell-btn.player-p2.dead {
    background-color: var(--color-p1);
}

.game {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

a {
    color: var(--text-medium-color);
}

.rules-link {
    text-align: center;
}

.app-version {
    user-select: text;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    color: var(--text-medium-color);
    white-space: nowrap;
}
